<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
</head>

<body>
  <form method="POST" action="/new">
    <label for="author">author</label>
    <input type="text" name="user" id='author'>

    <label for="message">message</label>
    <input type="text" name="text" id='message'>
    <button type="submit">submit</button>
  </form>

</body>

</html>